.checkout-container{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: auto;
    margin-top: 50px;
    width:40%;

}
.check-1{
    padding: 40px;
}
.checkout-button>button{
    margin-top: 20px;
    width: 20%;
   
}
.cart-items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
}
.item-details{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 5px;

}