.main{
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.home-heading{
width:70%;
margin: auto;
margin-top: 40px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
text-align: center;
padding: 60px 90px;


}
.home-heading h4{
    color: black;
    font-weight: 700;
}
.home-heading h1{
    color: black;
    font-size: 35px;
    margin: 10px 0px;
    
}
.category-boxes{
    padding: 5px;
    margin: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.home-heading button{
    padding: 5px 10px;
    border: none;
    background-color: #ffc107;
    font-size: 20px;
    border-radius: 5px;
    width: 20%;
}
.box-container{
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: .5rem;
    padding-right: .5rem;
}
.box{
    border: 2px solid;
    width: 50%;
    justify-content: left;
}