
.navbar{
    border: 2px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.headerlist {
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
    gap: 1rem;
}
.search{
    padding: 9px;
    margin-right: -5px;
    
}
a{
    text-decoration: none;
    color: balck;
}
.search-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid ;
    border-radius: 10px;
    width: 25%;
}
.search-input{

    border-radius: 0 5px 5px 0;
    border: none;

}

.icon{
    height: 24px;
    width: 24px;
}
.list{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}